@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f0f0f0;
font-family: 'Roboto', sans-serif;
}
.title{
  font-family: 'Dancing Script', cursive;
}

.bg-overlay {
  background-color: rgb(0, 0, 0, 23%);
}

.profileHeader {
  position: relative;
}

.profileHeader::before {
  content: "";
  position: absolute;
  height: 50%;
  background-color: #a8a8a8;
  width: 100%;
  top: 0;
  z-index: -1;
}


.loginuserimg{
  top: -25%;
  left: 0;
  right: 0;
}

.shadow-sm{
  box-shadow: 1px 2px 25px -2px #bebebe;
}

.w-100{
  width: 350px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.font-500{font-weight: 500;}

.input-select {
  color: #a5a5a5;
  }

 .input-select option {
  color: black;
  }
  .caption-wrapper{
    position: absolute;
    height: 70%;
    width: 43%;
    top: 15%;
    margin-right: 5px;
    word-break: break-word;
    overflow: hidden;
  }
  .cart-badge{
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    position: absolute;
    right: -13px;
    top: -8px;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
.loader-wapper{
  background: rgba(0, 0, 0, 0.616);
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

}  